header {
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  padding: 1.25rem;
  color: var(--white);
  font-family: "Inter", sans-serif;
}
header h2 {
  display: flex;
  align-items: center;
}

header img {
  height: 3rem;
  margin-right: 0.75rem;
}
header strong {
  color: var(--green-300);
}

@media screen and (max-width: 768px) {
  header {
    align-items: center;
  }
  header h2 {
    transform: translateY(10%);
  }
}
